
<div ng-controller="HomeController">
    <p>Welcome to Home, home of the chat {{dog}}.</p>

    <div ng-controller="ChatController">

        <div ng-switch="myUsername == ''">

            <div ng-switch-when="true" class="enterUsername">
                <label>Username:</label>
                <input type="text" ng-model="enteredUsername" />
                <button type="button" ng-click="setUsername(enteredUsername)">Set</button>
            </div>

            <div ng-switch-default class="chatroom">
                <ul>
                    <li ng-repeat="chatLine in chatLines">
                        <span ng-switch="chatLine.eventType">
                            <span ng-switch-when="join">
                              {{chatLine.username}} has joined the chat!
                            </span>
                            <span ng-switch-default>
                              {{chatLine.username}}: {{chatLine.text}}
                            </span>
                        </span>
                    </li>
                </ul>

                <input type="text" ng-model="enteredText" />
                <button type="button" ng-click="sendChat(enteredText); enteredText=''">Send</button>
            </div>

        </div>
    </div>
</div>
